<div fxFlex fxFlexOffset="20px" class="form-size">
  <h3>Send us your Feedback</h3>
  <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p>
  <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" id="form">
    <p>
      <mat-form-field class="half-width"
                      color="{{(feedbackForm.get('firstname').hasError('required') && feedbackForm.get('firstname').touched) ? 'warn' : 'primary'}}">
        <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
        <mat-hint>
                <span
                  [hidden]="!(feedbackForm.get('firstname').hasError('required') && feedbackForm.get('firstname').touched)">
                  firstname is required</span>
        </mat-hint>
      </mat-form-field>
      <mat-form-field class="half-width"
                      color="{{(feedbackForm.get('lastname').hasError('required') && feedbackForm.get('lastname').touched) ? 'warn' : 'primary'}}">
        <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
        <mat-hint>
                <span
                  [hidden]="!(feedbackForm.get('lastname').hasError('required') && feedbackForm.get('lastname').touched)">
                  lastname is required</span>
        </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width"
                      color="{{(feedbackForm.get('telnum').hasError('required') && feedbackForm.get('telnum').touched) ? 'warn' : 'primary'}}">
        <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" required>
        <mat-hint>
                <span
                  [hidden]="!(feedbackForm.get('telnum').hasError('required') && feedbackForm.get('telnum').touched)">
                  Tel. number is required</span>
        </mat-hint>
      </mat-form-field>
      <mat-form-field class="half-width"
                      color="{{(feedbackForm.get('email').hasError('required') && feedbackForm.get('email').touched) ? 'warn' : 'primary'}}">
        <input matInput formControlName="email" placeholder="Email" type="email" required>
        <mat-hint>
                <span [hidden]="!(feedbackForm.get('email').hasError('required') && feedbackForm.get('email').touched)">
                  Email ID is required</span>
        </mat-hint>
      </mat-form-field>
    </p>
    <table class="form-size">
      <td class="half-width">
        <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
      </td>
      <td class="half-width">
        <mat-select formControlName="contacttype" placeholder="How?">
          <mat-option *ngFor="let ctype of contactType" [value]="ctype">
            {{ ctype }}
          </mat-option>
        </mat-select>
      </td>
    </table>
    <p>
      <mat-form-field class="full-width">
        <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
      </mat-form-field>
    </p>
    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">
      Submit
    </button>
  </form>

</div>

